tqdm
pandas
pillow
matplotlib
shapely
geopandas
rioxarray
rasterio
geoplot
pyarrow
fiona
pre-commit
Sphinx
sphinx_rtd_theme
pycocotools
funcy
argparse
scikit-learn
scikit-multilearn
netron
onnx
onnxruntime
opencv-python
roboflow
torch
torchvision
wandb
geojson
groundingdino-py
mercantile
numpy
osmtogeojson
overpass
overpy
requests
segment-geospatial
